
/* COGS3 studyBuddy specific styles go here. */
#title{
  background-color: #9eda13;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 2.5;
  color: #e07a04;
}

h2{
  color: #db820e;
  font-family: 'Inter', sans-serif;
  font-size: 2.5;
  font-weight: bold;
}

h3{
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

p{
  color: #7509a0;
}

.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand{
  font-family: 'Lora';
  font-size: 3.0rem;
  font-weight: bold;
}

.nav-item{
  padding:0 18px;
}

.navbar-link{
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
}

.download-button{
  margin: 5% 3% 5% 0;
}
.title-image{
  width: 60%;
  transform: rotate(20deg);
  position: absolute;
}




#features {
  padding: 10% 20%;
  background-color: #e670ab;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon{
  color:#c91e1e;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #11ce49;
}

#testimonials{
  padding:10% 20%;
  text-align: center;
  background-color: #0ebd34;
}

.carousel-item {
  padding: 10% 20%;
}

.testimonial-image{
  width:10%;
  border-radius: 50%;
  margin:10px;
}

#press{
  background-color: #12b65c;
  text-align: center;
}
.press-logo{
  width:10%;
  margin: 20px 20px 50px;
}

#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-header{
  color:#0000;
}

.pricing-column {
  padding: 3% 2%;
}

#cta{
  background-color: #15d154;
  color: #f18023;
  padding:10% 20%;
  text-align: center;
}

.cta-heading{
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 2.0;
}

#footer{
  padding: 10% 20%;
  text-align: center;
}

.social-icon{
  margin: 40px 30px;
}

@media(max-width: 1028px){
  #title{
    text-align: center;
  }
  .title-image{
    position:static;
    transform: rotate(0);
  }
}